/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #bb162f;
    background-image: linear-gradient(#bb162f, #b45f6c, #bb162f);
}

#container {
    text-align: center;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #ffffff;
    cursor: pointer;
    transition: transform .3s;
}
#container:hover {
    transform: scale(1.05);
}

#text {
    padding: 50px;
    border-radius: 10px;
}
#text img {
    height: 120px;
    margin-bottom: 40px;
}
#text h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 500;
    color: #bb162f;
}
#text p {
    margin: 10px;
    font-size: 20px;
    color: #006C67;
}
#text p:last-child {
    margin-top: 20px;
    font-size: 30px;
}
#text span {
    color: #000000;
}