/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #00ff00;
    background-image: linear-gradient(#3bafda, #FFFFFF, #3bafda);
}

#container {
    text-align: left;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #d3d3d3;
    cursor: pointer;
    transition: transform .3s;
}
#container:hover {
    transform: scale(1.05);
}

#text {
    padding: 50px;
    border-radius: 10px;
    border: 2px dashed #3bb0dab9;
}
#text h1 {
    margin-bottom: 50px;
    font-size: 55px;
    color: #236983;
}
#text p {
    margin: 10px;
    font-size: 20px;
    color: #00cc00;
}
#text p:last-child {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
#text span {
    color: #3bafda;
}